@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Montserrat:200,300,300i,400,400i,600');

//variables

$font-lato: "Lato",
Sans-serif;
$color-bg: #111;
$color-primary: #faa916;
$white: #fbfffe;


* {
    margin: 0;
    padding: 0;
    font-family: $font-lato;
    font-weight: 300;
    color: $white;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: rgba($color: $color-bg, $alpha: 0.5);
    color: $color-primary;
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: $color-bg;
}

.btn {
    position: relative;
    padding: 1rem 2rem;
    margin: 0.5rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
}

.btn-primary {
    background: $color-primary;
    color: $color-bg;
}

.section-header {
    display: block;
    text-align: center;

    .section-title {
        display: inline-block;
        margin: 0 auto 48px;
        text-transform: uppercase;
        font-size: 2.5rem;
        padding: 1rem;
        text-align: center;

        &::after {
            content: '';
            width: 50%;
            height: 1px;
            background: #fbfffe;
            display: block;
            text-align: center;
            margin: 10px auto;
        }
    }
}


// NAVBAR
nav {
    position: fixed;
    top: 0;
    z-index: 10;
    background: $color-bg;
    width: 100%;

    .main {
        list-style: none;
        display: flex;
        margin: 0;
        // LOGO
        $logo-width: 30px;

        .logo {
            width: $logo-width;
            fill: $white;
            transition: all 300ms ease;
            z-index: 4;
            overflow: hidden;
        }

        .logo2 {
            transform: translateX(-100%);
            opacity: 0;
            width: 0.8 * $logo-width;
            margin-left: 5px;
            transition: all 300ms ease;
            z-index: 2;
        }

        li {
            margin-left: 1rem;
            padding: 30px 0 30px;

            &:first-child {
                margin-left: 0;
                margin-right: auto;
                padding: 0;

                &:hover .logo {
                    fill: $color-primary;

                    &+.logo2 {
                        fill: $color-primary;
                        transform: translateX(0%);
                        opacity: 1;
                    }
                }
            }

            .active {
                color: $color-primary;
            }

            a {
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 300;

                &:active,
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}

//HERO SECTION

#home {
    margin: 0;
    // background: rgb(0,0,0);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url('/public/img/yellow.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        height: 100%;
    }

    .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-bg;
        opacity: 0.5;
        z-index: 1;
    }

    .text-wrapper {
        position: relative;
        z-index: 2;
        color: $white;
        padding: 3rem auto;

        .title {
            text-transform: uppercase;
            font-size: 2rem;
        }

        div {
            text-align: center;

            .btn {
                margin: 2rem auto;

            }
        }

    }
}

@supports (-ms-ime-align: auto) {
    #home {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url('/public/img/yellow.jpg') no-repeat scroll center;
        background-attachment: scroll;
    }
}

//ABOUT SECTION
#about {
    $background_color_1: grey;
    $background_color_2: inherit;
    $background_color_3: $white;
    $border_color_1: transparent transparent transparent $white;
    $border_color_2: transparent $white transparent transparent;


    .timeline {
        position: relative;
        margin: 0 auto;
padding-top: 30px;
        &::after {
            content: '';
            position: absolute;
            width: 2px;
            background-color: $white;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -1px;
        }
    }

    .inner-container {
        margin-top: 3rem;
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;

        &::after {
            //dots
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            right: 0px;
            transform: translate(50%,-50%);
            background-color: $white;
            border: none;
            top: 50%;
            border-radius: 50%;
            z-index: 1;
        }

    }

    .left {
        left: 0;

        &::before {
            //arrow to left
            content: " ";
            height: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid $white;
            border-width: 10px 0 10px 10px;
            border-color: $border_color_1;
        }
    }

    .right {
        left: 50%;
//arorow to right
        &::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid $white;
            border-width: 10px 10px 10px 0;
            border-color: $border_color_2;
        }

        &::after {
            // additional dot selectors for right notainer
            left: 0px;
            transform: translate(-50%, -50%);
        }
    }
    //clouds on right and on left
    .content-right, .content-left {
        padding: 20px 30px;
        background-color: $background_color_2;
        position: relative;
        transition: all ease 1000ms;
        background: $white;
        h2 {
            color: $color-bg;

        }
        p{
            color: $color-bg;
        }
    }


    @media screen and (max-width: 768px) {
        .timeline {
            &::after {
                left: 31px;
            }
        }

        .inner-container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
            &::before {
                left: 60px;
                border: medium solid white;
                border-width: 10px 10px 10px 0;
                border-color: $border_color_2;
            }
        }

        .left {
            &::after {
                left: 31px;
                transform: translate(-50%, -50%);
            }
        }

        .right {
            &::after {
                left: 31px;
                transform: translate(-50%, -50%);
            }
            left: 0%;
        }
    }

    .brands {
        display: flex;
        // justify-content:space-around;
        margin: 20px auto;

        i {
            margin-right: 15px;
            font-size: 2rem;
        }
    }
}

#portfolio {
    .image-wrapper {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        .photo {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
            object-fit: cover;
        }

        .image-description {
            position: absolute;
            top: 15px;
            bottom: 15px;
            right: 0;
            left: 0;
            background: rgba($color: $color-bg, $alpha: 0.95);
            display: block;
            margin: 0px auto;
            padding: 20px 0;
            text-align: center;
            opacity: 1;
            transition: opacity 500ms ease;

            &:hover {
                opacity: 1;
            }

            figcaption {
                height: 30%;
            }

            a {
                display: inline-block;
                height: 40%;
            }

            .plus {
                width: 150px;
                fill: #fbfffe;
                background: transparent;
            }
        }
    }
}

#contact {
    form {
        label {
            display: block;
            margin-bottom: .5rem;
        }
        input,
        textarea {
            display: block;
            border: none;
            background: lighten($color-bg, 10);
            margin-bottom: 20px;
            padding: 10px 20px;
            min-width: 100%;
        }
        .btn {
            margin: 10px 0;
            width: 100%;
        }
    }
}